<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
      <%= render 'user_box' %>
      <%= render 'shared/stats' %>
  </aside>
  <div class="span8">
    <ul class="users">
      <% @collection.each do |movie| %>
          <% @movie = movie %>
          <%= render @movie %>
          <%= link_to "Remove from collection", listed_movie_path(movie_id: @movie.id), :method => :delete %>
      <% end %>
      <%= will_paginate @collection %>
    </ul>
  </div>
</div>