
<ul class="nav nav-pills">
  <li class="active">
      <button id="all_btn" class="btn btn-primary">  All (<%= @microposts.count + @users.count %>) </button>
  </li>
  <li>
    <button id="micropost_btn" class="btn btn-success"> Posts (<%= @microposts.count %>)</button>
  </li>
  <li>
      <button id="users_btn" class="btn btn-warning">
      Users (<%= @users.count %>)
    </button>
  </li>


  <!-- HACK start, ---->
  <% if @movie.nil? %>

      <li>
        <button id="movies_btn" class="btn btn-danger">
          movies (0)
        </button>
      </li>
      </ul>

  <% end %>
  <!-- Hack end -->




  <% if !@movie.nil? %>
   <li>
     <button id="movies_btn" class="btn btn-danger">
       movies (1)
     </button>
   </li>
  </ul>


      <div class="movie_hit">
        <ul class="users">
    <%= render @movie %>
  </ul>
</div>

 <% end %>

<div class="user_hits">
    <ul class="users">
        <%= render @users %>
     </ul>
</div>
<div class="micropost_hits">
  <ul class="users">
      <%= render @microposts %>
  </ul>
</div>




