
<ul class="nav nav-pills">
  <li class="active">
    <a class="all_btn">
      All (<%= @microposts.count %>)
    </a>
  </li>
  <li>
    <a class="micropost_btn">
      Posts (<%= @microposts.count %>)
    </a>
  </li>
  <li>
    <a class="users_btn">
      Users (<%= @users.count %>)
    </a>
  </li>
   <li>
     <%= link_to "Movies", "#" %>
   </li>
  </ul>


<div class="user_hits">
    <ul class="users">
        <%= render @users %>
     </ul>
</div>
<div class="micropost_hits">
  <ul class="users">
      <%= render @microposts %>
  </ul>
</div>


