
<ul class="nav nav-pills">
  <li class="active">
      <button id="all_btn" class="btn btn-primary">  All (<%= @microposts.count + @users.count %>) </button>
  </li>
  <li>
    <button id="micropost_btn" class="btn btn-success"> Posts (<%= @microposts.count %>)</button>
  </li>
  <li>
      <button id="users_btn" class="btn btn-warning">
      Users (<%= @users.count %>)
    </button>
  </li>
   <li>
     <button id="movies_btn" class="btn btn-danger">movies</button>
   </li>
  </ul>


<div class="user_hits">
    <ul class="users">
        <%= render @users %>
     </ul>
</div>
<div class="micropost_hits">
  <ul class="users">
      <%= render @microposts %>
  </ul>
</div>


