<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
        <section>
          <%= render 'users/top_rated' %>
        </section>
      </aside>
      <div class="span8">
        <h3> Wall</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to MOVIENIGHT</h1>

      <h2>
           Tired of people asking you not to discuss if Ewok's are cool or not?
      </h2>

      <%= link_to "Yes!", signup_path,
                  class: "btn btn-large btn-primary" %>
                 <button onclick="window.location.href='http://en.wikipedia.org/wiki/Ewok'" class="btn btn-large btn-primary">
                   No, What is a Ewok?
                 </button>


    </div>

<% end %>